* {
  font-family: "Press Start 2P", "Roboto", sans-serif !important;
}

body {
  background-color: #EFFFEC;
}

#chart {
  font-family: sans-serif !important;
}

.status-on {
  background-color: #aeeea0;
}

.status-off {
  background-color: #f6beb2;
}

@media (min-width: 800px) {
}
